@import "tailwindcss";

@theme {
  --font-sans: var(--font-comic), system-ui, sans-serif;
  
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #312e81;

  --color-accent: #ff7f7f;
  --color-accent-hover: #ff6666;

  --color-danger: #ef4444;
  --color-success: #10b981;
}

@layer base {
  :root {
    --background: #f4f7f6;
    --foreground: #2d3436;
  }
  .dark {
    --background: #1e1e24;
    --foreground: #f4f7f6;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    antialiased: true;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/80 backdrop-blur-md border border-white/40 shadow-xl rounded-[30px] dark:bg-slate-900/80 dark:border-slate-700/50;
  }
  
  .card-hover {
    @apply transition-all duration-300 hover:-translate-y-2 hover:shadow-2xl cursor-pointer;
  }
}
